.board {
	border: 1px solid #000;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.menu {
	border: 1px solid #000;
	width: 500px;
	height: 100px;
	margin: 0 auto;
}

.btn-menu {
	position: absolute;
	margin: 50px 50px;
}