.board {
	border: 1px solid #000;
	width: 477px;
	height: 477px;
	margin: 50px auto;
	box-shadow: 0 0 100px 10px rgba(0,0,0,0.5);
}

.menu {
  border: 1px solid #000;
  width: 476px;
  height: 93px;
  box-shadow: 0 0 100px 10px rgba(0,0,0,0.5);
  margin: -20px auto;
}

.btn-menu {
	margin: 50px 50px;
}

.tile {
	border: 1px solid #000;
	width: 53px;
	height: 53px;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	font-size: 35px;
	box-sizing: border-box;
	text-align: center;
	line-height: 53px;
	position: relative;
	color: #2261D6
}

.input-box {
	width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 95%;
  outline: none;
  border: 0;
  text-align: center;
  font-family: "Times New Roman";
  color: #000;
}

.openMsg {
	font-family: 'Comfortaa', cursive;
	font-size: 21px;
	text-align: center;
}

.btn-menu {
	margin: auto;
	padding-top: 35px;
}

.menu {
	text-align:center;
}

.menu-btn {
	margin: 0 auto;
}

.btn-primary:first-child {
	margin-right: 15px;
}